* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
}

header {
    background-image: url("../assets/img/bg-masthead.jpg");
    height: 100%;
    width: 100%;
}

header::after {
    background: black;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
}

nav {
    z-index: 1000;
    position: fixed;
    background-color: transparent;
}

nav div a {
    font-size: 1.4em;
    text-decoration: none;
    margin-right: 50px;
    color: gray;
}

nav div a:hover {
    color: lightgrey;
}

nav span {
    font-size: 1.8em;
    color: #808080;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}

.header {
    z-index: 999;
}

.header h1 {
    font-size: 8em;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }

.header span {
    width: 35rem;
    color: grey;
    font-size: 1.6em;
    text-align: center;
    line-height: 3rem;
}

.header button {
    background-color: #00897B;
    color: lightgrey;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.6em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.about-section {
    background: rgb(3,3,3);
    background: linear-gradient(180deg, rgba(3,3,3,1) 0%, rgba(33,33,33,1) 100%);
}

.about-section-title {
    color: lightgrey;
    
}

.about-section-paragraph {
    line-height: 4rem;
    color: lightgrey;
}

.project-section {
    background-color: #f2f2f2;
}

.project-section div p {
    font-size: 1.6em;
    color: gray;
    line-height: 2rem;
}

.submit-btn {
    background-color: #00897B;
    border: none;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    color: white;
}

.email-input {
    border: none;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
}

.contact-box-inner {
    background-color: white;
    border-bottom: solid 0.4rem #00897B;
}

.contact-box-inner {
    border-radius: 5px;
    color: gray;
}

.contact-box-inner:last-child {
    color: #00897B;
}

.little-divider {
    width: 5rem;
    height: 0.2rem;
    background-color: #00897B;
}

.misty, .mountains {
    background-color: black;
}

.line-seperator {
    background-color: #00897B;
    height: 5px;
    width: 200px;
}

.gallery-section {
    background-color: #f2f2f2;
}

.contact-section {
    background-image: url("../assets/img/bg-signup.jpg");
    position: relative;
}

.contact-section::after {
    content: "";
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4458158263305322) 0%, rgba(0,0,0,1) 71%);
    height: 100%;
    width: 100%;
}

.form-container {
    position: absolute;
}

.contact-box {
    background-color: black;
}

.social-media-section {
    background-color: black;
}

.social-media-section div div {
    background-color: #1a1a1a;
    padding: 8px;
    margin-left: 10px;
    border-radius: 50%;
}

.copyright-section {
    background-color: black;
}

.menu-btn {
    background-color: #00897B;
    padding: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .header h1 {
        font-size: 3em;
    }

    .header span {
        width: 100%;
    }

    .about-section-paragraph {
        font-size: 1.1em;
        width: 100%;
    }

    .project-section-text-container {
        border-left: none;
        text-align: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header h1 {
        font-size: 4em;
    }

    .header span {
        width: 100%;
    }

    .about-section-paragraph {
        font-size: 1.4em;
        width: 100%;
    }

    .project-section-text-container {
        border-left: none;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .header h1 {
        font-size: 5em;
    }

    .header span {
        width: 35rem;
    }

    .about-section-paragraph {
        font-size: 1.6em;
        width: 100%;
    }

    .project-section-text-container {
        border-left: none;
        text-align: center;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header h1 {
        font-size: 8em;
    }

    .header span {
        width: 35rem;
    }

    .about-section-paragraph {
        font-size: 1.6em;
        width: 50%;
    }

    .project-section-text-container {
        border-left: solid 10px #00897B;
        text-align: left;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header h1 {
        font-size: 8em;
    }

    .header span {
        width: 35rem;
    }

    .about-section-paragraph {
        font-size: 1.6em;
        width: 50%;
    }

    .project-section-text-container {
        border-left: solid 10px #00897B;
        text-align: left;
    }
}